<div class="container">
<button class="btn btn-rounded btn-primary btn-sm" type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show">Nuevo Activo</button>
</div>
<p></p>

<div class="container">
<p-table #dt [columns]="cols" [value]="activos" [responsive]="true" selectionMode="multiple" [rowsPerPageOptions]="[5,10,20,50,100]" [paginator]="true" [rows]="5" >

  <ng-template pTemplate="caption">

    <div class="ui-helper-clearfix" style="text-align: left">
      <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;" class="btn btn-warning btn-sm">CSV</button>
      <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="btn btn-success btn-sm">Excell</button>
      <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="btn btn-danger btn-sm">PDF</button>
      <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"
      class="btn btn-success btn-sm">Exportar Selección</button>

        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Buscar..." (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" >

  </div>

  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
        <th *ngFor="let col of columns">
            {{col.header}}
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
            {{rowData[col.field]}}
        </td>
    </tr>
</ng-template>
</p-table>
</div>

<p-dialog header="Title" [(visible)]="display">
  <form (ngSubmit)="create()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="codigoActivo">Codigo de Activo</label>
        <input type="text" class="form-control"  placeholder="Codigo de Activo" [(ngModel)]="saveActivo.codigoActivo" name="codigoActivo">
      </div>
      <div class="form-group col-md-6">
        <label for="empresa" >Empresa</label>
        <select class="form-control form-control-sm" [(ngModel)]="saveActivo.empresaActivo"  name="state">
          <option  [ngValue]="empresa.idEmpresa" *ngFor="let empresa of empresas" >{{empresa.descripcion}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail8">Tipo de Activo</label>
        <input type="email" class="form-control" id="inputEmail8" placeholder="Tipo de Activo">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword5">Centro de costo</label>
        <input type="password" class="form-control" id="inputPassword5" placeholder="Centro de costo">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Custodio</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Custodio">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <input type="text" class="form-control"  placeholder="Descripción" [(ngModel)]="saveActivo.descripcion" name="descripcion">
    </div>


    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</p-dialog>


