
<div class="container">
  <p-calendar  class="float-right" [locale]="es" [(ngModel)]="value2"placeholder="Fecha Final" dateFormat="dd/mm/yy"></p-calendar>
  <p-calendar class="float-right"  [locale]="es" [(ngModel)]="value" placeholder="Fecha Inicial" dateFormat="dd/mm/yy"> </p-calendar>


  <p-button  icon="pi pi-compass" class="float-right" label="Buscar" (click)="setFecha()" ></p-button>

</div>

  <br>
  <br>
<div class="container">



  <p-table #dt [columns]="cols" [value]="listDto" [responsive]="true" selectionMode="multiple" [rowsPerPageOptions]="[5,10,20,50,100]" [paginator]="true" [rows]="10" >

    <ng-template pTemplate="caption">

      <div class="ui-helper-clearfix" style="text-align: left">
        <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button>
        <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
        <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>
        <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Exportar Selección" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>

          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Buscar..." (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" >

    </div>

    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
  </p-table>
  </div>


